<h1>Hello <%= @user.firstName + " " + @user.lastName %>,</h1>

<p>Your account has been <strong>Inactive</strong> by the administrator.</p>
<p>Your will not be able to log in anymore.</p>
<p>If you believe this is a mistake, please contact support.</p>