<div class="follow-button-user-<%= user.id %> d-inline">
  <% if current_user && current_user != user %>
    <% if current_user.following.include?(user) %>
      <%= button_to "Unfollow", unfollow_user_path(user), method: :delete, class: "btn btn-outline-secondary btn-cus rounded-pill", data: { turbo_prefetch: false } %>
    <% else %>
      <%= button_to "Follow", follow_user_path(user), method: :post, class: "btn btn-primary btn-cus rounded-pill", data: { turbo_prefetch: false } %>
    <% end %>
  <% end %>
</div>
