<div id="<%= dom_id photo %>" class="col-12 col-sm-6">

  <div class="card">
                  <div class="row g-0">
                    <div class="col-lg-6">
                      <img
                        src="https://images.unsplash.com/photo-1761850648640-2ee5870ee883"
                        class="img-fluid object-fit-cover h-100"
                      />
                    </div>
                    <div class="col-lg-6">
                      <div class="card-body d-flex flex-column px-3 py-1">
                        <div
                          class="d-flex align-items-center mb-3 col-md-8 w-100"
                        >
                          <img
                            src="https://plus.unsplash.com/premium_vector-1719858611039-66c134efa74d"
                            class="rounded-circle me-2"
                            style="width: 38px; height: 38px; object-fit: cover"
                            alt=""
                          />
                          <h5 class="fw-bold">Dat Nguyen</h5>
                        </div>
                        <h5 class="card-title fw-bold text-start">
                          Card title
                        </h5>
                        <p class="card-text description text-start">
                          Share your memorable moments with friends and family
                          on Fotobook. Create albums, upload photos, and connect
                          with loved ones in a vibrant community. Share your
                          memorable moments with friends and family on Fotobook.
                          Create albums, upload photos, and connect with loved
                          ones in a vibrant community.
                        </p>

                        <div
                          class="d-flex justify-content-between align-items-center mt-auto"
                        >
                          <div class="d-flex align-items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-heart-fill text-danger"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
                              />
                            </svg>
                            <span class="ms-1 small text-muted">142</span>
                          </div>
                          <span class="small text-muted">2 days ago</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  

</div>
