<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bold" id="photoModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <img src="" alt="Photo" class="w-100 photo-modal-image" id="photoModalImage">
        <div class="p-4">
          <p class="text-secondary mb-0" id="photoModalDescription"></p>
        </div>
      </div>
    </div>
  </div>
</div>

