<div class="col mt-3">
    <div class="photo-wrapper position-relative">
      <img
        src="<%= photo.image_url %>"
        class="object-fit-cover photos"
        alt="<%= photo.title %>"
      />
      <% if photo.photo_sharing == "private" %>
        <i class="fa-solid fa-lock position-absolute top-0 end-0 m-2 p-1 bg-dark rounded-circle text-white fs-6"></i>
      <% end %>
    </div>
  </div>