.image-item-album {
  width: 60px;
  height: 60px;
}

.item-text {
  background-color: #000000c4;
  color: white;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}