.account-wall {
  margin-top: 20px;
  padding: 40px 50px 20px !important;
  border-radius: 4%;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* for sign up */
.form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signup div {
  width: 100%;
}

.form-signup label {
  font-weight: bold;
}
