<nav class="navbar navbar-expand-md">
            <div class="container-fluid">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- canvas khi về màn hình nhỏ -->
              <div
                class="offcanvas-md offcanvas-start"
                tabindex="-1"
                id="navbarNav"
                aria-labelledby="offcanvasLabel"
              >
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasLabel">Menu</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    data-bs-target="#navbarNav"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#"
                        >Feeds</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Discovery</a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </nav>